<h1>Hello! <% if (typeof message != "undefined") { %><%= message %><% } %></h1>

<p class="lead">You are viewing the <%= name %>/<%= action %> template.</p>
<p>You can find this template at '<strong>'<%= path %>'</strong>'</p>

